<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <style>
        h1 {
            color: aquamarine;
        }
        p {
            color: crimson;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <header>

    </header>
    <main>
        <h1>DIMASIK ABOUT PAGE</h1>
        <p>Hic situs est opus scholasticum, nihil amplius.</p>
    </main>
    <footer>

    </footer>
    {% endblock %}
</body>
</html>