<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        h1 {
            font-size: 120px;
            color: aquamarine;
            text-align: center;
        }
        p {
            font-size: 100px;
            color: crimson;
            text-align: center;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <header>

    </header>
    <main>
        <h1>DIMASIK HOME PAGE</h1>
        <p>WeLcoMe To hELl</p>
    </main>
    <footer>

    </footer>
    {% endblock %}
</body>
</html>