<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Изменение пароля{% endblock %}

    {% block content %}
    <h1>Изменение пароля</h1>
    <p>Пожалуйста, введите ваш старый пароль, а затем введите новый пароль
        дважды, чтобы мы могли убедиться, что все введено корректно.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Изменить пароль">
    </form>

    {% endblock %}
</body>
</html>